body {
  margin: 0; /* Remove default body margin for a full-width background */
  padding: 0; /* Remove default body padding for a full-height background */
  height: 100vh; /* Set the height of the body to the full viewport height */
  background: linear-gradient(to top, #8A3547, #2b2f77, #141852);
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align the content to the top */
}

#engineDiv {
  margin: 10px 0 0 0;
  padding: 0;
  position: relative;
  transform-origin: center top;
}